#jumbotron{
	background-image: url("../img/backgrounds/landing.jpg");
}
.green{
	
	cursor: pointer;
	color: '#F15429';
}
.me{
	cursor: pointer;
	color: '#F15429';
}
.blue{
	
	cursor: pointer;
	color: '#F15429';
}
.red{
    text-align: center;
}
.row{
	float: right;
	margin: 0px;
}