#jumbotron{
	background-image: url("../img/backgrounds/landing.jpg");


}
.di {
	background-image: url("../img/foodtop/dinner.jpg");
	padding-top: 67px;
	padding-bottom: 80px;
}
.dark {
	
}
.red {
	text-align: center;


}
.br {
	background-image: url(../img/foodtop/breakfast.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;

}
.lu {
	background-image: url(../img/foodtop/lunch.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;

}
.di {
	background-image: url(../img/foodtop/dinner.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;
}
.we {
	color: white;
}
#black{
	background-color: lightgrey;
	padding-top:41px;
	padding-bottom: 45px;
	margin: 0px;
	text-align: center;

}
#red{
	background-color:#F15A29 ;
	padding-bottom: 41px;
	padding-top: 43px;
	text-align: center;
}