#jumbotron{
	background-image: url("../img/backgrounds/landing.jpg");


}

	

	

.red {
	text-align: center;


}
.br {
    background-image: url(../img/foodtop/breakfast.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;
	cursor: pointer;
	color: white;

}
.lu {
	background-image: url(../img/foodtop/lunch.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;
	cursor: pointer;
	color: white;


}
.di {
	background-image: url(../img/foodtop/dinner.jpg);
	padding-top: 67px;
	padding-bottom: 80px;
	padding-left: 120px;
	padding-right: 150px;
	text-align: center;
	font-family: cursive;
	cursor: pointer;
	color: white;
}
.we {
	color: white;
}
#black{
	background-color: lightgrey;
	padding-top:41px;
	padding-bottom: 45px;
	margin: 0px;
	text-align: center;
	font-family: cursive;
	color: black;

}
#red{
	background-color:#F15A29 ;
	padding-bottom: 41px;
	padding-top: 43px;
	text-align: center;
	font-family: cursive;
	color: white;
}
#food1{
	background-image:  url("../img/fastFood1.jpg");
	padding-top: 70px;
	padding-bottom: 80px;
	background-position: center;

}
#food2{
	background-image:  url("../img/fastFood2.jpg");
	padding-top: 70px;
	padding-bottom: 80px;
	background-position: center;

}
.d1{
	background-image: url("../img/drink1.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px;
	padding-bottom: 200px;
	float;right: 

}
.d2{
	background-image: url("../img/drink2.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px;
	padding-bottom: 200px;
	float: right;

}